<% content_for :title, "#{Rails.application.config.site_title} / Basic Form" %>
<h4>Basic Form</h4>
<%= form_for :visitor, url: '/BasicForm/', html: {autocomplete: 'off', style: 'text-align: center;'} do |builder| %>
  <%= builder.label "First name:", for: "firstName" %><br />
  <%= builder.text_field :first_name, id: "firstName" %><br />
  <%= builder.submit("Greet me!") %>
<% end %>
<a href="/">Get me out of here</a>