<% content_for :title, Rails.application.config.site_title %>
<h4><%= Rails.application.config.site_title %></h4>
<ul>
  <li><a href="/BasicForm/">Basic Form</a></li>
  <li><a href="/PullData/">Pulling Information from a Database</a></li>
  <li><a href="/WriteFile/">Write to a File</a></li>
  <li><a href="/SendMail/">Send Mail</a></li>
</ul>