<% content_for :title, "#{Rails.application.config.site_title} / Write to a File" %>
<h4>Write to a File</h4>
<p>The following was written and pulled from the file:</p>
<p class="well"><%= @written_text %></p>
<a href="/">Get me out of here</a>