<html>
  <head>
<body style="background-color: #fafafa;font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, sans-serif;">
    <div class="container" style="margin: auto;width: 50%;">
      <h4 style="color: #333;font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, sans-serif;font-size: 3em;font-weight: 600;letter-spacing: 2px;margin: 10% auto;text-align: center;text-transform: uppercase;text-shadow: 2px 0 0 rgba(0, 255, 255, 0.75), -3px 0 0 rgba(255, 0, 192, 0.5);">Hello, <%= @user.first_name %>!</h4>Someone has sent you a message from Heroku-Rails!<br /><br />"<%= @message %>"</p>
    </div> <!-- .container -->
  </body>
</html>